@import './variables.scss';
@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;

  @include devices(notebook) {
    font-size: 60%;
  }

  @include devices(tablet) {
    font-size: 58%;
  }

  @include devices(mobile) {
    font-size: 70%; // Ajuste geral para mobile
  }
}

body {
  font-size: 1.6rem;
  font-family: var(--font-inter), sans-serif;
  width: 100%;

}

h1,
.h1 {
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;

  @include devices(notebook) {
    font-size: 4.2rem;
  }

  @include devices(mobile) {
    font-size: 3rem; // Reduzido para mobile
    line-height: 1.2;
  }
}

h2,
.h2 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 4rem;

  &.gold {
    text-align: center;
    text-transform: uppercase;
    color: $gold;
    margin-bottom: 4rem;
    font-size: 2rem;
  }

  @include devices(mobile) {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }
}

p,
.p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 4rem;
}

.btn {
  border: none;
  outline: none;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin-bottom: 4rem;

  &.btn-primary {
    background-color: $button;
    color: $white;

    &:hover {
      background-color: lighten($button, 3);
    }
  }
}

.icon {
  width: 2.6rem;
  height: 2.6rem;
  margin-bottom: 4rem;

  &:hover {
    color: $gradient2;
  }
}

.section-spacing {
  padding: 4rem 0;

  @include devices(mobile) {
    padding: 2rem 0;
  }
}
