@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.cardapio-wrapper {
  background-color: $background;
  margin-bottom: 4rem;
  padding: 5rem 0;

  @include devices(mobile) {
    margin-bottom: 3rem;
  }

  .cardapio {
    @include max-width;

    .items {
      display: grid;
      gap: 8rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }
}
