@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.item {
  display: flex;
  align-items: center;
  margin-bottom: 5rem; // Adicionado margin-bottom principal

  @include devices(mobile) {
    flex-direction: column;
    text-align: center;
  }

  &:not(:last-of-type) {
    margin-bottom: 2ch;
    @include devices(mobile) {
      margin-bottom: 3rem;
    }
  }

  .content {
    h3 {
      font-weight: 600;
      text-transform: uppercase;
      color: $white;
      font-size: 1.6rem;
      white-space: nowrap;
    }

    h4 {
      color: $white;
      font-size: 1.3rem;
      font-weight: 300;
      white-space: nowrap;
    }
  }

  .divisor {
    border-top: 1px dashed $white;
    width: 100%;
    margin: 0 1.5rem;
    @include devices(mobile) {
      display: none;
    }
  }

  h5 {
    color: $gold;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
  }
}
