@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.menu-wrapper {
  background-color: $background;
  padding: 4rem 0;
  scroll-margin-top: 10rem;

  .menu {
    @include max-width;

    .list {
      list-style: none;
    }
  }
}
