@import '../../styles/mixins.scss';

.benefit {
  display: flex;
  align-items: center;

  @include devices(mobile) {
    flex-direction: column;
    text-align: center;
  }

  .content {
    margin-left: 1.5rem;

    @include devices(mobile) {
      margin-left: 0;
      margin-top: 1rem;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0.1rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 0.1rem;
    }
  }

  @include devices(tablet) {
    &:last-of-type {
      margin-top: 6rem;
    }
  }
}
