@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.benefits {
  @include max-width;
  margin-bottom: 5rem;
  margin-top: 10rem;


  @include devices(mobile) {
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding: 0 2rem;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .bottom {
    display: flex;
    justify-content: center;
  }

  .top,
  .bottom {
    @include devices(tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  .benefit {
    margin: 2rem 0;

    @include devices(mobile) {
      margin: 3rem 0;
      flex-direction: column;
      text-align: center;
    }
  }
}
