@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.benefits {
  @include max-width;
  margin-bottom: 5rem; // Reduzido de $marginBottom para valor fixo

  @include devices(mobile) {
    margin-bottom: 1rem; // Reduzido de $marginBottomMobile
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .bottom {
    display: flex;
    justify-content: center;
  }

  .top,
  .bottom {
    @include devices(tablet) {
      flex-direction: column;
      align-items: center;
    }
  }
}
