@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  @include max-width;
  padding: 4rem 1rem 2rem 1rem;
  margin-top: 4rem; // Adicionado espaçamento superior

  ul {
    list-style: none;
    padding-left: 0;
  }

  h2 {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $gradient2;
  }

  h3,
  li,
  li > a,
  p {
    font-weight: 500;
    font-size: 1.4rem;
    text-decoration: none;
    color: $lightBlack;
  }

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    @include devices(tablet) {
      flex-direction: column;
      gap: 4rem;
    }

    .main {
      h3 {
        margin: 1rem 0;
        max-width: 20rem;
      }

      ul > li {
        display: inline-block;
        margin-right: 0.75rem;

        a {
          padding: 0.3rem;
          display: flex;
        }
      }
    }

    .links {
      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
      }

      ul > li:last-of-type {
        margin-bottom: 6rem;
      }

      ul > li > a:hover {
        color: $gradient2;
      }
    }

    .links,
    .contato {
      h2 {
        margin-bottom: 2rem;
      }

      ul > li:not(:last-of-type) {
        margin-bottom: 1.5rem;
      }
    }
  }

  .bottom {
    p {
      text-align: center;
    }
  }
}
